<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-1 mb-3"><span class="text-muted fw-light">Phòng ban /</span> Thông tin phòng ban</h4>

    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4">
          <h5 class="card-header">Thông tin phòng ban</h5>
          <!-- Account -->
          <div class="card-body">
            <form action="/api/department/storeEmployee/{{department._id}}" id="formAccountSettings" method="POST">
              <div class="row">
                <div class="mb-3 col-md-12">
                  <label for="name" class="form-label">Tên phòng ban</label>
                  <input class="form-control" type="text" id="name" name="name" value="{{department.name}}" readonly />
                </div>
                <div class="mb-3 col-md-12">
                  <label for="name" class="form-label">Số điện thoại liên lạc</label>
                  <input class="form-control" type="text" id="phone" name="phone" value="{{department.phone}}"
                    readonly />
                </div>
                <div class="mb-3 col-md-12">
                  <label for="employee_id" class="form-label">Trưởng phòng</label>
                  <input class="form-control" type="text" id="employee_id" value="{{department.name_lead}}" readonly />
                </div>
                <div class="mb-3 col-md-12">
                  <label for="status" class="form-label">Trạng thái</label>
                  <select id="status" name="status" class="select2 form-select" disabled>
                    <option value={{department.status}}>Không hoạt động</option>
                    <option value="male">Nam</option>
                    <option value="female">Nữ</option>
                  </select>
                </div>
              </div>
              <div class="mt-2">
                <button class="btn btn-primary">
                  <a href="/api/department/formUpdateDepartment/{{department._id}}" class="text-white">
                    Cập nhật
                  </a>
                </button>
                <button type="reset" class="btn btn-secondary">
                  <a href="/api/department/fetchDepartmentList" class="text-white">
                    Quay lại
                  </a>
                </button>
              </div>
            </form>
          </div>
          <!-- /Account -->
        </div>
      </div>
    </div>
  </div>
  <!-- / Content -->

  <!-- Footer -->
  <footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
      <div class="mb-2 mb-md-0">
        ©
        <script>
          document.write(new Date().getFullYear());
        </script>
        , made with ❤️ by
        <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">ThemeSelection</a>
      </div>
      <div>
        <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">License</a>
        <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">More Themes</a>

        <a href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/" target="_blank"
          class="footer-link me-4">Documentation</a>

        <a href="https://github.com/themeselection/sneat-html-admin-template-free/issues" target="_blank"
          class="footer-link me-4">Support</a>
      </div>
    </div>
  </footer>
  <!-- / Footer -->

  <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->