<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold mb-1"><span class="text-muted fw-light">Phòng ban /</span> Thông tin phòng ban</h4>

    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4">
          <h5 class="card-header">Thông tin phòng ban</h5>
          <!-- Account -->
          <div class="card-body">
            <div class="row">
              <div class="mb-3 col-md-12">
                <label for="name" class="form-label">Tên phòng ban</label>
                <input class="form-control" type="text" id="name" name="name" value="{{department.name}}" readonly />
              </div>
              <div class="mb-3 col-md-12">
                <label for="name" class="form-label">Số điện thoại liên lạc</label>
                <input class="form-control" type="text" id="phone" name="phone" value="{{department.phone}}" readonly />
              </div>
              <div class="mb-3 col-md-12">
                <label for="status" class="form-label">Trạng thái</label>
                <select id="status" name="status" class="select2 form-select" disabled>
                  <option value={{department.status}}>Không hoạt động</option>
                  <option value="male">Nam</option>
                  <option value="female">Nữ</option>
                </select>
              </div>
              <div class="mb-3 col-md-12">
                <label for="employee_id" class="form-label">Trưởng phòng</label>
                <input class="form-control" type="text" id="employee_id" value="{{department.name_lead}}" readonly />
              </div>
            </div>
            <div class="mt-2">
              <button class="btn btn-primary">
                <a href="/api/department/formUpdateDepartment/{{department._id}}" class="text-white">
                  Cập nhật
                </a>
              </button>
              <button type="reset" class="btn btn-secondary">
                <a href="/" class="text-white">
                  Quay lại
                </a>
              </button>
            </div>
          </div>
          <!-- /Account -->
        </div>
      </div>
    </div>
  </div>
  <!-- / Content -->


  <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->