<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-1 mb-3"><span class="text-muted fw-light">Nhân viên /</span> Danh sách nhân viên</h4>

    <nav class="navbar bg-light mb-2">
      <div class="container-fluid">
        <form class="d-flex" role="search">
          <input id="input-code" type="text" list="search-employee" class="form-control me-2"
            placeholder="Nhập mã nhân viên">
          <datalist id="search-employee">
          </datalist>
          <button id="btn-search-code" type="button" class="btn btn-danger"><i
              class='bx bx-search bx-rotate-90'></i></button>
        </form>
        <button class="btn btn-success mt-3 mt-md-0" type="button">
          <a href="/api/employee/formCreateEmployee" class="text-white">
            Thêm nhân viên
          </a>
        </button>
      </div>
    </nav>
    <!-- Basic Bootstrap Table -->
    <div class="card">
      <div class="table-responsive text-nowrap">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Mã nhân viên</th>
              <th>Tên nhân viên</th>
              <th>Giới tính</th>
              <th>Phòng ban</th>
              <th>Chức vụ</th>
              <th>Trạng thái hồ sơ</th>
            </tr>
          </thead>
          <tbody id="table-employee" class="table-border-bottom-0">
            {{#each employees}}
            <tr>
              <td><a href="/api/employee/getEmployeeInformation/{{this._id}}">{{this.code}}</a></td>
              <td><a href="/api/employee/getEmployeeInformation/{{this._id}}">{{this.name}}</a></td>
              <td>{{this.gender}}</td>
              <td></td>
              <td>{{this.job}}</td>
              <td><span class="badge bg-label-primary me-1">Active</span></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <!--/ Basic Bootstrap Table -->

    <hr class="my-4" />
    <!-- Basic Pagination -->
    {{!-- <nav id="pagination" aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item prev">
          <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-left"></i></a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="/api/employee/fetchEmployeeList/1">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="/api/employee/fetchEmployeeList/2">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="/api/employee/fetchEmployeeList/3">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="/api/employee/fetchEmployeeList/4">4</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="/api/employee/fetchEmployeeList/5">5</a>
        </li>
        <li class="page-item next">
          <a class="page-link" href="javascript:void(0);"><i class="tf-icon bx bx-chevrons-right"></i></a>
        </li>
      </ul>
    </nav> --}}
    <div id="pagination" class="row">

    </div>

    <script>
      var html = "";
      var pages = {{ pages }}
      var current = {{ current }}

      if (pages > 0) {
        html += "<nav class='mx-auto'>"
        html += "<ul class='pagination mt-1'>"

        //FIRST ITEM 
        if (current == 1) {
          // Nếu thông số http://localhost:3333/news/1/ là 1 thì First sẽ bị disabled
          html += "<li class='page-item disabled'>"
          html += "<a class='page-link' href='/api/employee/fetchEmployeeList/1'>First</a>"
          html += "</li>"
        } else {
          // Nếu thông số http://localhost:3333/news/2/ từ 2 trở lên thì First sẽ bỏ disabled
          html += "<li class='page-item'>"
          html += "<a class='page-link' href='/api/employee/fetchEmployeeList/1'>First</a>"
          html += "</li>"
        }

        // ITEMS
        var i = (Number(current) > 3 ? Number(current) - 2 : 1)
        // Toán tử điều kiện 3 ngôi syntax: < điều_kiện ? giá_trị_1 : giá_trị_2 >
        // Nếu điều_kiện trả về true, toán tử có giá trị giá_trị_1. Ngược lại toán tử có giá trị giá_trị_2.
        if (i !== 1) {
          html += "<li class='page-item disabled'>"
          html += "<a class='page-link' href='#'>...</a>"
          html += "</li>"
        }

        for (; i <= (Number(current) + 2) && i <= pages; i++) {
          // Sử dụng vòng lặp để lặp qua từng trang và tăng số trang 
          // Trong vòng lặp for có ba biểu thức tùy chọn nên chỉ cần các bạn tách mỗi biểu thức bằng dấu `;` là oke rồi
          if (i == current) {
            html += "<li class='page-item active'>"
            html += `<a class='page-link' href='/api/employee/fetchEmployeeList/${i}'>`
            html += i
            html += "</a>"
            html += "</li>"
          } else {
            html += "<li class='page-item'>"
            html += `<a class='page-link' href='/api/employee/fetchEmployeeList/${i}'>`
            html += i
            html += "</a>"
            html += "</li>"
          }

          if (i == Number(current) + 2 && i < pages) {
            html += "<li class='page-item disabled'>"
            html += "<a class='page-link' href='#''>...</a>"
            html += "</li>"
          }
        }

        // LAST ITEM
        if (current == pages) {
          // Nếu số current( chỉ số phân trang ) là 6 và tổng số page là 6 thì Last bị disabled
          html += "<li class='page-item disabled'>"
          html += "<a class='page-link' href='#''>"
          html += "Last"
          html += "</a>"
          html += "</li>"
        } else {
          // Ngược lại, thì Last là trang cuối cùng pages ở đây là 6 đồng nghĩa với Last là trang số 6
          html += "<li class='page-item'>"
          html += `<a class='page-link' href='/api/employee/fetchEmployeeList/${pages}'>`
          html += "Last"
          html += "</a>"
          html += "</li>"
        }
        html += "</ul>"
        html += "</nav>"
      }
      html += "</div>"



      $("#pagination").html(html)
    </script>

    <!--/ Basic Pagination -->
  </div>
  <!-- / Content -->



  <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->