<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold mb-4"><span class="text-muted fw-light">Nhân viên /</span> Cập nhật thông tin hồ sơ</h4>

    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4">
          <h5 class="card-header">Thông tin hồ sơ nhân viên</h5>
          <!-- Account -->
          <form action="/api/employee/updateEmployee/{{employee._id}}" id="formAccountSettings"
            enctype="multipart/form-data" method="POST">
            <div class="card-body">
              <div class="d-flex align-items-start align-items-sm-center gap-4">
                <img src="/assets/img/avatars/{{employee.avatar}}" id="avatar_img" alt="user-avatar"
                  class="d-block rounded" height="320" width="300" id="uploadedAvatar" />
                <div class="button-wrapper">
                  <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                    <span class="d-none d-sm-block">Upload new photo</span>
                    <i class="bx bx-upload d-block d-sm-none"></i>
                    <input type="file" id="upload" class="account-file-input" name="avatar" hidden autocomplete="off" />
                  </label>
                  <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                    <i class="bx bx-reset d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Reset</span>
                  </button>

                  <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="mb-3 col-md-6">
                  <label for="code" class="form-label">Mã nhân viên</label> (<span class="text-danger">*</span>)
                  <input class="form-control" type="text" id="code" name="code" placeholder="VD: B1805859"
                    value="{{employee.code}}" autofocus autocomplete="off" readonly />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="name" class="form-label">Họ tên</label> (<span class="text-danger">*</span>)
                  <input class="form-control" type="text" id="name" name="name" value="{{employee.name}}"
                    placeholder="VD: Lê Văn Hiếu" autocomplete="off" />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="birthday" class="form-label">Ngày sinh</label> (<span class="text-danger">*</span>)
                  <input class="form-control" type="date" id="birthday" value="{{employee.birthday}}" name="birthday"
                    autocomplete="off" />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="gender" class="form-label">Giới tính</label> (<span class="text-danger">*</span>)
                  <select id="gender" name="gender" class="select2 form-select">
                    <option value="male">Nam</option>
                    <option value="female">Nữ</option>
                  </select>
                </div>
                <div class="mb-3 col-md-6">
                  <label class="phone" for="phoneNumber">Số điện thoại</label>
                  <div class="input-group input-group-merge">
                    <span class="input-group-text">VN (+84)</span>
                    <input type="text" id="phone" name="phone" class="form-control" value="{{employee.phone}}"
                      autocomplete="off" />
                  </div>
                </div>
                <div class="mb-3 col-md-6">
                  <label for="email" class="form-label">E-mail</label>
                  <input class="form-control" type="text" id="email" name="email" value="{{employee.email}}"
                    placeholder="john.doe@example.com" autocomplete="off" />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="address" class="form-label">Địa chỉ</label> (<span class="text-danger">*</span>)
                  <input type="text" class="form-control" id="address" name="address" value="{{employee.address}}"
                    autocomplete="off" />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="cccd_no" class="form-label">CMND/CCCD</label> (<span class="text-danger">*</span>)
                  <input class="form-control" type="text" id="cccd_no" name="cccd_no" value="{{employee.cccd_no}}"
                    autocomplete="off" />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="nation" class="form-label">Dân tộc</label> (<span class="text-danger">*</span>)
                  <input type="text" class="form-control" id="nation" name="nation" value="{{employee.nation}}"
                    autocomplete="off" />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="religion" class="form-label">Tôn giáo</label>
                  <input type="text" class="form-control" id="religion" name="religion" value="{{employee.religion}}"
                    autocomplete="off" />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="bank_no" class="form-label">Tài khoản ngân hàng</label> (<span
                    class="text-danger">*</span>)
                  <input class="form-control" type="text" id="bank_no" name="bank_no"
                    placeholder="0111324857233 - Vietcombank" value="{{employee.bank_no}}" autocomplete="off" />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="department_id" class="form-label">Phòng ban</label>
                  (<span class="text-danger">*</span>)
                  <select id="department" name="department_id" class="select2 form-select">
                    {{#each departmentList}}
                    <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                  </select>
                </div>
                <div class="mb-3 col-md-6">
                  <label for="job" class="form-label">Chức vụ</label>
                  (<span class="text-danger">*</span>)
                  <input class="form-control" type="text" id="job" name="job" value="{{employee.job}}" required
                    autocomplete="off" />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="type" class="form-label">Loại nhân viên</label>
                  (<span class="text-danger">*</span>)
                  <select id="type" name="type" class="select2 form-select" value="{{employee.type}}">
                  </select>
                  <script>
                    $('#type').html()
                    const type = `{{employee.type}}`
                    let typeHTML = ''
                    let typeArr = ['thoi_vu', 'thu_viec', 'chinh_thuc']
                    if (type == "thoi_vu") {
                      typeHTML += `<option value = 'thoi_vu'>Thời vụ</option>`
                    }
                    else if (type == 'thu_viec') {
                      typeHTML += `<option value = 'thu_viec'>Thử việc</option>`
                    }
                    else if (type == 'chinh_thuc') {
                      typeHTML += `<option value = 'chinh_thuc'>Chính thức</option>`
                    }

                    for (const element of typeArr) {
                      if (element != type && element == 'thoi_vu') {
                        typeHTML += `<option value = 'thoi_vu'>Thời vụ</option>`
                      }
                      if (element != type && element == 'thu_viec') {
                        typeHTML += `<option value = 'thu_viec'>Thử việc</option>`
                      }
                      if (element != type && element == 'chinh_thuc') {
                        typeHTML += `<option value = 'chinh_thuc'>Chính thức</option>`
                      }
                    }

                    $('#type').append(typeHTML)
                  </script>
                </div>
                <div class="mb-3 col-md-6">
                  <label for="personal_tax_no" class="form-label">Mã số thuế</label>
                  <input type="text" class="form-control" id="personal_tax_no" name="personal_tax_no"
                    value="{{employee.personal_tax_no}}" autocomplete="off" />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="bhxh_no" class="form-label">Số BHXH</label>
                  <input type="text" class="form-control" id="bhxh_no" name="bhxh_no" value="{{employee.bhxh_no}}"
                    autocomplete="off" />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="bhyt_no" class="form-label">Số BHYT</label>
                  <input type="text" class="form-control" id="bhyt_no" name="bhyt_no" value="{{employee.bhyt_no}}"
                    autocomplete="off" />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="bhyt_hospital" class="form-label">Nơi đăng ký khám bệnh</label>
                  <input type="text" class="form-control" id="bhyt_hospital" name="bhyt_hospital"
                    value="{{employee.bhyt_hospital}}" autocomplete="off" />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="status" class="form-label">Trạng thái hồ sơ</label> (<span class="text-danger">*</span>)
                  <select id="status" name="status" class="select2 form-select">
                  </select>
                  <script>
                    $('status').html()
                    const status = `{{employee.status}}`
                    let statusHTML = ''
                    let statusArr = ['draft', 'demit', 'working']
                    if (status == "draft") {
                      statusHTML += `<option value = 'draft'>Nháp</option>`
                    }
                    else if (status == 'demit') {
                      statusHTML += `<option value = 'demit'>Lưu trữ</option>`
                    }
                    else if (status == 'working') {
                      statusHTML += `<option value = 'working'>Đang làm việc</option>`
                    }

                    for (const element of statusArr) {
                      if (element != status && element == 'draft') {
                        statusHTML += `<option value = 'draft'>Nháp</option>`
                      }
                      if (element != status && element == 'demit') {
                        statusHTML += `<option value = 'demit'>Lưu trữ</option>`
                      }
                      if (element != status && element == 'working') {
                        statusHTML += `<option value = 'working'>Đang làm việc</option>`
                      }
                    }

                    $('#status').append(statusHTML)
                  </script>
                </div>
              </div>
              <div class="mt-2">
                <button type="submit" class="btn btn-primary me-2">
                  Lưu
                </button>
                <a href="/api/employee/getEmployeeInformation/{{employee._id}}">
                  <button class="btn btn-secondary me-2">Quay lại</button>
                </a>
              </div>
            </div>
          </form>
          <!-- /Account -->
        </div>
      </div>
    </div>
  </div>
  <!-- / Content -->

  <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
<script>
  $('#upload').change(function (event) {
    var tmppath = URL.createObjectURL(event.target.files[0]);
    $("#avatar_img").fadeIn("fast").attr('src', URL.createObjectURL(event.target.files[0]));
    //socket.emit('user-change-avatar', filePath);
  })
</script>