<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1">
    <h4 class="fw-bold py-1 mb-3"><span class="text-muted fw-light">Chấm công /</span> Chấm công bằng định vị GPS</h4>

    <div id="div-btn" class="row">
      <div class="col-md-12">
        <div class="card mb-4">
          <!-- Account -->
          {{!-- <div class="card-body">
            <div class="row align-items-center justify-content-between ">
              <div class=" col-md-3">
                <input type="hidden" id="user_id" name="user_id" value={{user._id}} />
                <button id="acupuncture" class="btn btn-danger">Chấm công vào 08:00</button>
              </div>
              <div class="mt-3 col-md-6">
                <div class="row justify-content-end">
                  <div class="mb-2 col-md-2">
                    <span class="badge badge-center rounded-pill bg-danger">x</span>
                    <span>Vắng</span>
                  </div>
                  <div class="mb-2 col-md-2">
                    <span class="badge badge-center rounded-pill bg-warning">!</span>
                    <span>Trễ</span>
                  </div>
                  <div class="mb-2 col-md-4">
                    <span class="badge badge-center rounded-pill bg-success">v</span>
                    <span>Đúng giờ (08:00)</span>
                  </div>
                </div>
              </div>
            </div>
          </div> --}}
          <!-- /Account -->
          <div class="card-body">
            <div class="row align-items-center">
              <div class=" col-md-3">
                <input type="hidden" id="user_id" name="user_id" value={{user._id}} />
                <button id="acupuncture" class="btn btn-danger">Chấm công vào 08:00</button>
              </div>
            </div>

            <div class="row">
              <div class="mt-4 col-md-6">
                <span>Ký hiệu</span>
                <div class="mt-2 row align-items-center justify-content-start">
                  <div class="mb-2 col-md-2">
                    <span class="badge badge-center rounded-pill bg-danger">x</span>
                    <span>Vắng</span>
                  </div>
                  <div class="mb-2 col-md-2">
                    <span class="badge badge-center rounded-pill bg-warning">!</span>
                    <span>Trễ</span>
                  </div>
                  <div class="mb-2 col-md-4">
                    <span class="badge badge-center rounded-pill bg-success">v</span>
                    <span>Đúng giờ (08:00)</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Responsive Table -->
    <div id="card" class="card">
      <h1 class="text-dark text-center mt-4 mb-2"></h1>
      <div class="table-responsive text-nowrap">
        <table class="table table-bordered">
          <thead>
            <tr id="title_month" class="text-nowrap">
            </tr>
          </thead>
          <tbody id="acupuncture_user">
          </tbody>
        </table>
      </div>
    </div>

    <div id="messageError" style="display: flex;flex-direction: column;align-items: center;">
      <img src="/assets/img/illustrations/no-data.png" alt="" style="
    width: 350px;
    height: 350px;
    max-width: 100%;
    max-height: 100%;
      ">
      <h4>Nhân sự chưa tạo bảng chấm công cho tháng này!</h4>
    </div>

    <!--/ Basic Pagination -->
  </div>
  <!-- / Content -->

  <!-- Modal HTML -->
  <div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-header">
          <div class="icon-box">
            <i class='bx bx-check'></i>
          </div>
          <h4 class=" text-dark modal-title w-100">Đã chấm công</h4>
        </div>
        <div class="modal-body">
          <h3 id="title-day" class="text-dark text-center"></h3>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-success btn-block" id="data-dismiss">Đóng</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Content wrapper -->
<script>
  var msgError = `{{msgError}}`
  if (msgError) {

    var h1 = `<h3 class="text-center mt-5 p-5">${msg}</h3>`
    $("#title_month").html('')
    $('#acupuncture_user').html('')
    $('#card').hide()
    $('#div-btn').hide()
    $("#messageError").css({ "display": "flex", "flex-direction": "column", "align-items": "center" });
  }
  else {
    var title_month = "<th class='text-center py-3'>Mã nhân viên</th><th class='text-center py-3'>Tên nhân viên</th>"
    var employeeReports_encode = `{{employeeReports}}`
    var month_encode = `{{month}}`
    var year_encode = `{{year}}`
    var employeeReports = JSON.parse(employeeReports_encode.replace(/&quot;/ig, '"'));
    var month = JSON.parse(month_encode.replace(/&quot;/ig, '"'));
    var year = JSON.parse(year_encode.replace(/&quot;/ig, '"'));
    var acupuncture_html = ""
    var h1 = `Tháng ${month.name} - Năm ${year}`
    for (const employeeReport of employeeReports) {
      const { name, code, acupuncture } = employeeReport;
      acupuncture_html += `<tr>`
      acupuncture_html += `<td class='py-2'>${code}</td>`
      acupuncture_html += `<td class='py-2'>${name}</td>`
      for (let i = 1; i <= month.total; i++) {
        if (acupuncture.length == 0) {
          acupuncture_html += `<td class='py-2'></td>`
          continue;
        }
        let check = 0
        for (let j = 0; j < acupuncture.length; j++) {
          const { date, late_check } = acupuncture[j];
          if (date == String(i)) {
            if (late_check == true) {
              acupuncture_html += `<td class='py-2'><span class="badge badge-center rounded-pill bg-warning">!</span></td>`
            }
            else {
              acupuncture_html += `<td class='py-2'><span class="badge badge-center rounded-pill bg-success">v</span></td>`
            }
            break;
          }
          check++;
          if (check == acupuncture.length) {
            if (i >= acupuncture[acupuncture.length - 1].date) {
              acupuncture_html += `<td class='py-2'></td>`
            }
            else {
              acupuncture_html += `<td class='py-2'><span class="badge badge-center rounded-pill bg-danger">x</span></td>`
            }
          }
        }
      }
      acupuncture_html += `</tr>`
    }

    //Hiển thị tháng
    for (let i = 1; i <= month.total; i++) {
      title_month += `<th class="text-center py-3">${i}</th>`
    }
    $('h1:first').text(h1)
    $("#title_month").html(title_month)
    $("#acupuncture_user").html(acupuncture_html)
    $("#messageError").css({ "display": "none", "flex-direction": "column", "align-items": "center" });
    $('#div-btn').show()
    $('#card').show()



    //get table_id
    const table_id_encode = `{{table_id}}`
    const table_id = JSON.parse(table_id_encode.replace(/&quot;/ig, '"'));
    $('#acupuncture').click(function () {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
          const { coords } = position
          const { latitude, longitude } = coords
          socket.emit("user-acupuncture", {
            latitude: latitude,
            longitude: longitude,
            table_id: table_id,
            user_id: $('#user_id').val()
          })
        });
      }

    });
  }

  $("#data-dismiss").click(function () {
    $("#myModal").modal("hide");
  });

</script>