<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-1 mb-3"><span class="text-muted fw-light">Nhân viên /</span> Thêm hồ sơ nhân viên</h4>

    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4">
          <h5 class="card-header">Thông tin hồ sơ nhân viên</h5>
          <!-- Account -->
          <div class="card-body">
            <div class="d-flex align-items-start align-items-sm-center gap-4">
              <img src="/assets/img/avatars/{{employee.avatar}}" alt="user-avatar" class="d-block rounded" height="320"
                width="300" id="uploadedAvatar" />
            </div>
          </div>
          <hr class="my-0" />
          <div class="card-body">
            <form action="/api/employee/storeEmployee/{{employee._id}}" id="formAccountSettings" method="POST">
              <div class="row">
                <div class="mb-3 col-md-6">
                  <label for="code" class="form-label">Mã nhân viên</label> (<span class="text-danger">*</span>)
                  <input class="form-control" type="text" id="code" name="code" placeholder="VD: B1805859"
                    value="{{employee.code}}" readonly autofocus />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="name" class="form-label">Họ tên</label> (<span class="text-danger">*</span>)
                  <input class="form-control" type="text" id="name" name="name" value="{{employee.name}}" readonly
                    placeholder="VD: Lê Văn Hiếu" />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="birthday" class="form-label">Ngày sinh</label> (<span class="text-danger">*</span>)
                  <input class="form-control" type="date" id="birthday" value="birthday" readonly />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="gender" class="form-label">Giới tính</label> (<span class="text-danger">*</span>)
                  <select id="gender" name="gender" class="select2 form-select" disabled>
                    <option value="male">Nam</option>
                    <option value="female">Nữ</option>
                  </select>
                </div>
                <div class="mb-3 col-md-6">
                  <label class="phone" for="phoneNumber">Số điện thoại</label>
                  <div class="input-group input-group-merge">
                    <span class="input-group-text">VN (+84)</span>
                    <input type="text" id="phone" name="phone" class="form-control" value="{{employee.phone}}"
                      readonly />
                  </div>
                </div>
                <div class="mb-3 col-md-6">
                  <label for="email" class="form-label">E-mail</label>
                  <input class="form-control" type="text" id="email" name="email" value="{{employee.email}}"
                    placeholder="john.doe@example.com" readonly />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="address" class="form-label">Địa chỉ</label> (<span class="text-danger">*</span>)
                  <input type="text" class="form-control" id="address" name="address" readonly />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="cccd_no" class="form-label">CMND/CCCD</label> (<span class="text-danger">*</span>)
                  <input class="form-control" type="text" id="cccd_no" name="cccd_no" value="{{employee.cccd_no}}"
                    readonly />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="nation" class="form-label">Dân tộc</label> (<span class="text-danger">*</span>)
                  <input type="text" class="form-control" id="nation" name="nation" value="{{employee.nation}}"
                    readonly />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="religion" class="form-label">Tôn giáo</label>
                  <input type="text" class="form-control" id="religion" name="religion" value="{{employee.religion}}"
                    readonly />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="bank_no" class="form-label">Tài khoản ngân hàng</label> (<span
                    class="text-danger">*</span>)
                  <input class="form-control" type="text" id="bank_no" name="bank_no"
                    placeholder="0111324857233 - Vietcombank" value="{{employee.bank_no}}" readonly />
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label" for="department-select">Phòng ban</label>
                  (<span class="text-danger">*</span>)
                  <select id="department-select" name="department-select" class="select2 form-select" disabled>
                    <option value="">{{department.name}}</option>
                  </select>
                </div>
                <div class="mb-3 col-md-6">
                  <label for="job" class="form-label">Chức vụ</label>
                  (<span class="text-danger">*</span>)
                  <input class="form-control" type="text" id="job" name="job" value="{{employee.job}}" readonly
                    autocomplete="off" />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="type" class="form-label">Loại nhân viên</label>
                  (<span class="text-danger">*</span>)
                  <select id="type" name="type" class="select2 form-select" disabled>
                    <option value="thoi_vu">{{employee.type}}</option>
                  </select>
                </div>
                <div class="mb-3 col-md-6">
                  <label for="personal_tax_no" class="form-label">Mã số thuế</label>
                  <input type="text" class="form-control" id="personal_tax_no" name="personal_tax_no"
                    value="{{employee.personal_tax_no}}" readonly />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="bhxh_no" class="form-label">Số BHXH</label>
                  <input type="text" class="form-control" id="bhxh_no" name="bhxh_no" value="{{employee.bhxh_no}}"
                    readonly />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="bhyt_no" class="form-label">Số BHYT</label>
                  <input type="text" class="form-control" id="bhyt_no" name="bhyt_no" value="{{employee.bhyt_no}}"
                    readonly />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="bhyt_hospital" class="form-label">Nơi đăng ký khám bệnh</label>
                  <input type="text" class="form-control" id="bhyt_hospital" name="bhyt_hospital"
                    value="{{employee.bhyt_hospital}}" readonly />
                </div>
              </div>
            </form>
          </div>
          <!-- /Account -->
        </div>
      </div>
    </div>
  </div>
  <!-- / Content -->

  <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->